<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button slot="icon-only" defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Catalogo</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['./agregar']">
        <ion-icon slot="icon-only" name="add-sharp" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
        <ion-card *ngFor='let habitacion of habitaciones' [routerLink]="['./',habitacion.id]">
          <ion-row>
            <ion-title>{{habitacion.titulo}}</ion-title>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-img class="img" [src]="habitacion.img"></ion-img>
            </ion-col>
            <ion-col>
              <ion-text class="descripcion">{{habitacion.descripcion}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
