<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button slot="icon-only" defaultHref="/catalogo"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['./editar']">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{habitacion.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-img [src]="habitacion.img"></ion-img>
        <ion-card-content>{{habitacion.descripcion}}</ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
