<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button slot="icon-only" defaultHref="/catalogo"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="formExample">
      <ion-row [hidden]="true">
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Id</ion-label>
            <ion-input type="text" formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input type="text" formControlName="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input type="text" formControlName="descripcion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Ocupacion</ion-label>
            <ion-input type="number" formControlName="ocupacion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" formControlName="precio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Imagen</ion-label>
            <ion-input type="text" formControlName="img"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-text>Estado</ion-text>
            <ion-toggle slot="end" formControlName="active"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!formExample.get('descripcion').valid &&
      formExample.get('descripcion').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser menor a 180 caracteres</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
                      !formExample.get('id').valid &&
                      !formExample.get('titulo').valid &&
                      !formExample.get('descripcion').valid &&
                      !formExample.get('ocupacion').valid&&
                      !formExample.get('precio').valid&&
                      !formExample.get('img').valid
">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
