<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formExample">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="logIn()" type="submit" color="danger" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-button [routerLink]="['/login/agregar']" type="submit" color="danger" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
