<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button slot="icon-only" defaultHref="/catalogo"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Agregar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="funcionAgregar()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formExample">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">id</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea row="3" formControlName="descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Ocupacion</ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="ocupacion"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Precio</ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="precio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Img</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!formExample.get('descripcion').valid &&
                      formExample.get('descripcion').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser menor a 180 caracteres</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !formExample.get('id').valid &&
        !formExample.get('titulo').valid &&
        !formExample.get('descripcion').valid &&
        !formExample.get('ocupacion').valid &&
        !formExample.get('img').valid
      ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
