<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-row>
      <ion-col size="4.5">
      </ion-col>
      <ion-col size="3">
        <ion-buttons>
          <ion-button slot="end" color="primary" fill="solid" shape="round" [routerLink]="['/catalogo']">
            Iniciar
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4.5">
      </ion-col>
    </ion-row>
  </div>
</ion-content>
